# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# Lambda
lambda.zip

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*